<div>
  <form style="text-align:center" #form="ngForm">
    <div id="tableData">
      <table name="playerTable" border="1" class="inline mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--1dp">
        <thead>
          <tr>
            <th>Player Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <select name="playerId" [(ngModel)]="playerId" [required]=true>
                <!-- <option [value]=null [selected]="true" disabled>Select Player Name</option> -->
                <ng-container *ngFor="let player of playerNames; let i=index">
                  <option [value]="player.id">
                    {{player.playerName}}
                  </option>
                </ng-container>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>